.dashboardLayout {
    display: flex;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.mainContent {
    flex: 1;
    margin-left: var(--sidebar-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .mainContent {
        margin-left: 0;
    }
}